/* font family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* common styles and utilities */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

:root {
    --bg-color: #2D25A0;
    --btn-bg: #E02C6D;
    --font-color: #ffffff;
}

button {
    font-size: 16px;
    padding: 10px 30px;
    background-color: var(--btn-bg);
    color: var(--font-color);
    border: none;
}

/* header -- part -start */
.navbar {
    background-color: var(--bg-color);
    padding: 42px 0;
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

.menu ul li {
    list-style: none;
    margin-right: 30px;
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 16px;
    transition: transform .5s ease;
}

.menu ul li:hover a {
    color: var(--btn-bg);
}

/*----------------- header part end---- */

/*---------------- hero part start------------ */
.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    padding: 50px 0 70px 0;
}

.half-width {
    width: 40%;
}

.half-width h1 {
    font-size: 64px;
    width: 485px;
    line-height: 80px;
    color: #fff;
}

.banner-img {
    width: 556px;
    transition: transform .5s ease;
}

.first-banner:hover {
    transform: scale(1.2);
}

/*---------------- hero part end----------------- */

/*-------------- palyer part start---------*/
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    width: 1050px;
    margin: auto;
    padding: 70px 0 30px 1px;
}

.player {
    width: 330px;
    box-shadow: 0px 0px 20px 0px #00000045;
}

.player-image-box {
    position: relative;
    overflow: hidden;
}

.player-image {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    transition: transform .5s ease;
}

.player-image:hover {
    transform: scale(1.3);
}

.player-name {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
    padding-left: 15px;
}

.player-info {
    font-size: 16px;
    padding: 0 15px;
}

/*----------- player part end----------- */

/* highlight part start */
.highlight-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 60px 0;
}

.copa {
    font-size: 48px;
    width: 469px;
    margin: 0;
}

.copa-info {
    font-size: 16px;
    width: 404px;
}

/* highlight part end */

/* youtube part */
.y-video {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

/* footer part start */
footer {
    padding-bottom: 63px;
}

.footer-logo img {
    margin-left: auto;
    width: 25%;
    margin-right: auto;
    display: block;
}

.social-icon ul {
    display: flex;
    justify-content: center;
}

.social-icon ul li {
    list-style: none;
    margin-right: 15px;
}

.social-icon ul li a i {
    color: #969BAB;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    background: #969bab47;
}

footer p {
    text-align: center;
}

/*--------media-css --------*/
@media (max-width: 678px) {
    .hero-section {
        flex-direction: column;
    }

    .banner-img {
        width: 330px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .half-width h1 {
        font-size: 36px;
        width: 278px;
        line-height: 50px;
    }

    .half-width {
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        display: block;
        padding-bottom: 50px;
    }




    .players {
        grid-template-columns: repeat(1, 1fr);
        width: auto;
    }

    .player {
        width: 330px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }


    .highlight-section {
        flex-direction: column;
        height: auto;
    }

    .highlight {
        margin-bottom: 30px;
    }

    .copa {
        font-size: 30px;
        width: 294px;
    }

    .copa-info {
        width: 294px;
    }




    .footer-logo img {
        width: 50%;
    }

    .social-icon ul {
        padding: 0;
    }
}




@media (min-width: 769px),
(max-width: 979px) {
    .players {
        grid-template-columns: repeat(2, 1fr);
        width: auto;
    }

    .copa {
        width: 365px;
    }

    .banner-img {
        width: 368px;
    }

    .half-width h1 width: 445px;
}